name: terraform fmt and validate
on:
  pull_request:
    paths:
      - '**/*.tf'
      - '**/*.tfvars'

Jobs:
  fmt_and_validate:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4 

    - name: Setup Terraform
       uses: hashicorp/setup-terraform@v3
       
    - name: Initialize Terraform
      run: terraform init
      
    - name: Terraform FMT
      run: terraform fmt -check -recursive

    - name: Terraform Validate
      run: terraform validate
      
